/* 
Autor: Pedro Henrique
Projeto: Mine dos Crias
Descrição: Folha de estilos responsável pelo layout e aparência do site.
Tecnologias: HTML5, CSS3 (Grid Layout, Responsividade)
Data: 2026
*/

/* AVISOS DE ESTILO: 
Qualquer alteração deve ser feita com cuidado para manter a consistência visual 
e a responsividade do site.
O site foi projetado para ser visualmente agradável e funcional
em diferentes dispositivos, utilizando de medidas específicas
para garantir uma boa experiência de usuário.
Alterações devem ser documentadas 
e testadas em diferentes resoluções para garantir a compatibilidade. 
ASSINADO: Pedro Henrique, Desenvolvedor Web e Designer do Mine dos Crias. 
*/

/* Importação de fontes externas para melhorar o visual do site */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


/* Fonte padrão para leitura confortável em textos longos */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Fonte estilizada para títulos e elementos de destaque */
.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}

body{
  background-color: #121117;
  margin: 0;
  color: #EAEAEA;
  font-family: Arial, sans-serif;

}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  gap: 15px;
  padding: 15px;
}

header, nav, main, footer{
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 10px #7B2CBF, 0 0 20px #7B2CBF;
  text-decoration: none;
}

header{
  grid-area: header;
  background-color: #7B2CBF;
}

nav{
  grid-area: nav;
  background-color: #5A189A;
}

main{
  grid-area: main;
  background-color: #1C1B22;
  padding: 20px;
}

footer{
  grid-area: footer;
  background-color: #7B2CBF;
}

#logo {
    position: relative;
    top: 10%;
    right: 37%;
    width: 100px; 
    
}

a{
  text-decoration: none;
}

#Nome_Site{
  position: relative;
  top: -61px;
  color: #EAEAEA;;
  font-size: 61px;
  font-family: Orbitron, sans-serif;
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.card{
  width: 100%;
  max-width: 300px;
  background-color: #2A2A33;
  border-radius: 10px;
  overflow: hidden;
  color: #EAEAEA;
  transition: 0.3s;
  box-shadow: 0 0 10px #7B2CBF, 0 0 20px #7B2CBF;
  padding: 5%;
}

.card:hover{
  transform: scale(1.03);
}

.card-text{
  color: #A0A0B0;
}

.btn-primary{
  background-color: #7B2CBF;
  border: none;
}

.btn-primary:hover{
  background-color: #00D1FF;
  color: black;
}

.btn-primary:active{
  background-color: #5A189A;
}

@media (max-width: 1024px){
  .cards-container{
    grid-template-columns: repeat(2, 1fr);
  }

  #Nome_Site{
  position: relative;
  top: 9%;
  color: #EAEAEA;;
  font-size: 37px;
  font-family: Orbitron, sans-serif;

  }

  
#logo {
    position: center;
    top: -2%;
    right: 1%;
    width: 70px; 
}
}

@media (max-width: 768px){
  .cards-container{
    grid-template-columns: 1fr;
  }
  
    #Nome_Site{
  position: relative;
  top: 9%;
  color: #EAEAEA;;
  font-size: 37px;
  font-family: Orbitron, sans-serif;

  }

  
#logo {
    position: center;
    top: -2%;
    right: 1%;
    width: 70px; 
}
}
