
/* Configurações Gerais do Corpo da Página */
body {
    background-color: rgb(2, 0, 16);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);

     /* Configuração da Imagem de Fundo */
    background-image: url(../img/backg-index.jpg);
    background-size: cover;          /* Cobre toda a área */
    background-repeat: no-repeat;    /* Não repete a imagem */
    background-position: center top; /* Alinhamento central superior */
}

/* Estrutura Principal usando Grid Layout */
#container {
    display: grid;
    /* Define 5 linhas: cabeçalho, navegação, conteúdo principal (2x) e rodapé */
    grid-template-rows: auto auto auto auto auto;
    /* Define 3 colunas para acomodar o conteúdo e a barra lateral */
    grid-template-columns: 1fr 6fr 1fr;
    /* Mapeamento das áreas do grid */
    grid-template-areas: 
        "header   header   header"
        "nav      nav      nav"
        "main     main     aside"
        "main     main     aside"
        "footer   footer   footer";

   
}

/* Cabeçalho (Header) */
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: "logo titulo";

    background-color: rgba(9, 1, 38, 0.352);
    height: 160px;
    border-radius: 5px;
    border: 3px solid rgba(16, 8, 42, 0.488);
    font-size: 25px;
    text-align: center;
    padding: 2%;
}

/* Logo dentro do Header */
.LOGO {
    height: 110px;
    grid-area: logo;
}

/* Título Principal */
.titulo {
    grid-area: titulo;
    font-size: 45px;
    text-align: justify;
    letter-spacing: 1px;
    position: relative;
    top: 5%;
}

/* Menu de Navegação (Nav) */
nav{
    grid-area: nav;
    font-size: 20px;
    padding: 5px;
}
.navbar-brand{
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-left: 3%;
    letter-spacing: 1px;
    font-size: 25px;
}
#navbarNavDropdown{ 
    padding-left: 2%;
    color: aliceblue;
}
.navbar-nav{
    color: aliceblue;
}
.dropdown-menu{
    padding: 3%;
}
.nav-link{
    position: relative;
    padding-left: 30px;
    color: aliceblue;
}
.nav-item1{
    padding-left: 30px;
    padding-right: 30px;
}
.nav-item2{
    padding-left: 30px;
    padding-right: 30px;
}
.nav-item3{
    padding-left: 30px;
    padding-right: 30px;
}



/* Área de Conteúdo Principal (Main) */
main {
    padding: 5%;
    grid-area: main;
}

h2 {
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
}

h3 {
    padding: 4%;
    font-size: 30px;
    text-align: justify;
    padding-bottom: 20px;
}

/* Estilização dos Parágrafos (p1, p2, p3) */
.p1, .p2, .p3 {
    text-align: justify;
    font-size: 25px;
    padding: 4%;
    font-style: italic;
}

.p2 {
    text-align: center;
    padding: 70px;
}

/* Barra Lateral (Aside) */
#aside {
    grid-area: aside;
    display: grid;
    width: 205px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "aside-up" "aside-down";
    background-color: rgba(9, 1, 38, 0.352);
    border: 3px solid rgba(16, 8, 42, 0.488);
}

/* Seção superior do Aside (Lista de Jogos) */
.aside-up {
    background-color: rgba(53, 16, 88, 0.421);
    grid-area: aside-up;
    height: 440px;
    width: 200px;
    padding: 2%;
}

/* Seção inferior do Aside (Tabela de Membros) */
.aside-down {
    grid-area: aside-down;
    height: 400px;
    width: 190px;
    padding: 2%;
}

/* Estilização de Tabelas */
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 10px;
}

th, td {
    padding: 15px;
    font-size: 17px;
    background-color: rgba(9, 1, 38, 0.352);
    border-radius: 5px;
    border: 3px solid rgba(16, 8, 42, 0.488);
}

thead {
    background-color: rgba(16, 3, 18, 0.616);
}

/* Links da Lista no Aside */
.link-list {
    color: aliceblue;
    font-size: 20px;
    padding: 4%;
}

.list-item {
    padding: 10px;
}

/* Rodapé (Footer) */
footer {
    grid-area: footer;
    background-color: rgba(16, 8, 42, 0.444);
    height: 180px;
    padding: 20px;;
}

.copyright {
    text-align: center;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}
a{
    text-decoration: none;
}
.footer-redes {
    text-align: center;
    font-size: 20px;
    padding: 2%;
    position: relative;
    bottom: 30px;
}

/* Ícones das Redes Sociais */
.footer-img1 { 
    height: 50px;
    position: relative;
    right:1%;
}
.footer-img2 {
    position: relative;
    left:1%; 
    height: 35px;}


/* Responsividade */

@media (max-width: 800px) { 
  #container { 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(7, auto);
    grid-template-areas: 
        "header" 
        "nav" 
        "main" 
        "aside"
        "aside-up"
        "aside-down"
        "footer";

        /* Configuração da Imagem de Fundo */
    background-image: url(../img/background2.jpg);
    background-size: cover;          /* Cobre toda a área */
    background-repeat: no-repeat;    /* Não repete a imagem */
    background-position: center top; /* Alinhamento central superior */
}
 
 header{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    font-size: 28px;
 }
 .aside-down{
    grid-area: aside-down;
 }
}